/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #E8DFD1;
    color: #333;
}
h1, h2, h3 {
    font-weight: 700;
    margin-bottom: 10px;
}
a {
    color: #333;
    text-decoration: none;
}

/* Header */
.header {
    background-color: #333;
    color: #E8DFD1;
    padding: 15px 20px;
    text-align: center;
}
.nav {
    display: inline-flex;
    gap: 15px;
}
.nav a {
    color: #E8DFD1;
    padding: 8px 15px;
    border-radius: 20px;
    transition: 0.3s;
}
.nav a:hover {
    background-color: #E8DFD1;
    color: #333;
}

/* Main Content */
.main_content {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px 20px;
    flex-wrap: wrap;
}
.car_image img {
    width: 700px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.car_info {
    max-width: 500px;
    background: #f4efe8;
    border-radius: 15px;
    padding: 20px 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.car_title {
    font-size: 2rem;
    color: #333;
}
.car_subtitle {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}
.info_block {
    margin-bottom: 20px;
}
.info_block h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #555;
}
.info_item {
    text-align: right;
    font-size: 1rem;
    color: #333;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
}
.sold {
    color: #d9534f;
    font-weight: bold;
}

/* Advertisement Banner */
.ad_banner {
    background-color: #d6cbbf;
    text-align: center;
    padding: 15px 10px;
    margin: 30px 20px;
    border-radius: 10px;
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
}

/* Additional Info Blocks */
.additional_info {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}
.extra_block {
    background-color: #f4efe8;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    justify-content: space-between;
}
.extra_block a {
    color: #d9534f;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}
.extra_block a:hover {
    color: #333;
}
.linked_image {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Footer */
.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #E8DFD1;
    font-size: 0.9rem;
}
.manage{
    width: 100%;
    padding: 8px 10px;
    margin: 0 0 10px 0;
    border-radius: 50px;
    background-color: transparent;
    font-size: 18px;
}
.manage_d{
    border:1px #d9534f solid;
    color: #d9534f;
}
.manage_d:hover{
    background-color: #d9534f;
    color: #fff;
}
.manage_c{
    border:1px royalblue solid;
    color: royalblue;
}
.manage_c:hover{
    background-color: royalblue;
    color: #fff;
}
.chVin{
    padding: 0!important;
    width: 250px;
    height: 250px;
}